.container {
  position: relative;
}

.content {
  margin: 0;
  padding: 10px;
  border-radius: 10px;
  overflow: auto;
}

.copyContainer {
  position: absolute;
  top: 4px;
  right: 10px;
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  justify-content: center;
  gap: 10px;
}

.copyText {
  font-size: 14px;
  color: white;
}
