.sider {
  position: sticky;
  height: calc(100vh - 60px); /* header を除いた高さ */
  top: 60px; /* header の高さ分 */
  left: 0;
  background: lightgray;
  display: flex;
  flex-direction: column;
  transition: width 0.3s ease-in-out; /* アニメーション */
}

.siderOpen {
  width: 300px;
}

.siderCollapsed {
  width: 0;
}

.siderContent {
  position: relative;
  height: calc(100% - 56px);
  max-height: calc(100% - 56px);
  padding: 7.5px 0 7.5px 0;
  display: flex;
  flex-direction: column;
  overflow-x: hidden;
  overflow-y: auto;
  z-index: -1;
}

.siderContent::-webkit-scrollbar {
  width: 8px;
}
.siderContent::-webkit-scrollbar-thumb {
  background-color: rgba(0, 0, 0, 0.3); /* スクロールバーの色 */
  border-radius: 4px;
  cursor: pointer;
}
.siderContent::-webkit-scrollbar-track {
  background-color: rgba(0, 0, 0, 0.1); /* スクロールバーの背景 */
}

.siderButton {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  min-width: 40px;
  height: 36px;
  background: #333;
  color: white;
  border: none;
  padding: 10px;
  cursor: pointer;
}

.selected {
  color: #5195e1;
  background-color: rgba(0, 0, 0, 0.1);
}

.selectedDescendant {
  color: #5195e1;
}

.siderItem {
  position: relative;
  margin: 2.5px 10px 2.5px 10px;
  border-radius: 5px;
  cursor: pointer;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  line-clamp: 2;
  -webkit-box-orient: vertical;
  transition: background-color 0.3s ease-in-out;
}

.siderItem:hover {
  background-color: rgba(0, 0, 0, 0.2);
}

.containerToggleButton {
  position: absolute;
  top: 0;
  right: 0;
  width: 44px;
  height: 44px;
  border-radius: 4px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: black;
}

.containerToggleButton:hover {
  background-color: rgba(0, 0, 0, 0.1);
}

.containerToggleButtonText {
  transition: rotate 0.3s ease-in-out;
}

.containerToggleButtonTextOpen {
  rotate: 90deg;
}

.childrenContainer {
  display: flex;
  height: 0;
  flex-direction: column;
  overflow: hidden;
  transition: height 0.3s ease-in-out;
}
