.content {
  width: 100%;
  display: flex;
  flex-direction: row;
}

.main {
  flex: 1;
  padding: 10px 60px 10px 60px;
  background: white;
}

.index {
  position: sticky;
  width: 250px;
  height: calc(100vh - 60px); /* header を除いた高さ */
  top: 60px; /* header の高さ分 */
  right: 0;
  background: lightgray;
  display: flex;
  flex-direction: column;
  overflow-x: hidden;
  overflow-y: auto;
}

.index::-webkit-scrollbar {
  width: 8px;
}
.index::-webkit-scrollbar-thumb {
  background-color: rgba(0, 0, 0, 0.3); /* スクロールバーの色 */
  border-radius: 4px;
}
.index::-webkit-scrollbar-track {
  background-color: rgba(0, 0, 0, 0.1); /* スクロールバーの背景 */
}

.indexContainer {
  padding: 10px;
  font-size: 1.2em;
}

.indexItem {
  margin: 0;
  word-break: break-all;
}

.indexItem0 {
  padding-left: 1rem;
}

.indexItem1 {
  padding-left: 2rem;
}

.indexItem2 {
  padding-left: 3rem;
}

.indexItem3 {
  padding-left: 4rem;
}

.indexItem4 {
  padding-left: 5rem;
}

.indexItem5 {
  padding-left: 6rem;
}
