.title {
  margin: 0;
  padding: 50px;
  color: white;
  background-color: #5195e1;
  display: flex;
  align-items: center;
  justify-content: center;
}

.body {
  margin: 0 50px 0 50px;
  position: sticky;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}

.container {
  margin: 20px;
  text-align: center;
}

.learnMore {
  color: #5195e1;
  cursor: pointer;
}

.learnMore:hover {
  text-decoration: underline;
}

.comingSoon {
  color: #5195e1;
}
